{% extends 'base.html' %}

{% block content %}

    <div class="pure-g">

        <div class="pure-u-3-5 padded">
            <h1>
                {{ feature.title }}
            </h1>
            <a class="pure-button" href="/features/edit/{{feature.id}}">
                <i class="fa fa-pencil"></i>
            </a>

            <p>{{ feature.description }}</p>

            <h2>Comments</h2>

             <form action="" method="post" class="pure-form pure-form-stacked">
            {% csrf_token %}
                <input id="commenter" type="text" name="commenter" value="" placeholder="Your name">
                <textarea cols="40" rows="3" id="text" type="text" name="text" value="" placeholder="Comment text"></textarea>
                <input type="submit" value="Add" name="comment" class="pure-button">
            </form>

            <ul>
            {% for comment in feature.comment_set.all %}
                <li>{{comment.commenter}}&emsp;<em>{{comment.created}}</em>
                <br>{{ comment.text }}</li>
            {% empty %}
                <em>No comments yet.</em>
            {% endfor %}
            </ul>
        </div>

        <div class="pure-u-2-5 padded">
            <h2>Requesters ({{ feature.customers.count }})</h2>
            <ul>
            {% for customer in feature.customers.all %}
                <li>{{ customer.email }}</li>
            {% empty %}
                <em>No customers have requested this feature yet.</em>
            {% endfor %}
            </ul>

            <form action="" method="post" class="pure-form">
            {% csrf_token %}
                <input id="customer" type="text" name="customer_email" value="" placeholder="email">
                <input type="submit" value="Add" name="customer" class="pure-button">
            </form>
        </div>

    </div>





{% endblock %}