{% extends 'base.html' %}


{% block content %}

    {% if latest_feature_list %}
        <table class="feature-list">
            <tr>
                <th class="feature-name">Name</th>
                <th class="vote-count">Votes</th>

            </tr>
        {% for feature in latest_feature_list %}
            <tr>
                <td class="feature-name"><a href="{% url 'features:detail' feature.id %}">{{ feature.title }}</a></td>
                <td class="vote-count">{{ feature.customers.count }}</td>

            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No features yet.</p>
    {% endif %}
{% endblock %}