Django==1.7
django_browserid
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.1.1
psycopg2==2.5.1
static==0.4
wsgiref==0.1.2
django-postgrespool==0.3.0
django-toolbelt==0.0.1
SQLAlchemy==1.0.6
static3==0.6.1
whitenoise==2.0