html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}
.pure-g > div {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
.padded {
    padding: 1% !important;
}
body {
    background-color: #fdfdfd;
    color: #2e2e2e;
    font-size: 14px;
    line-height: 28px;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
.header-text {
    text-decoration: none;
    color: inherit;
}
table.feature-list {
    border-collapse: collapse !important;
    width: 50%;
}
.feature-list tr {
    border-bottom: 1px solid #ccc !important;
}
.feature-list td, th {
    padding: 2px 5px !important;
}
.feature-name {
    text-align: left;
}
.vote-count {
    text-align: right;
}
 .button-error {
    color: white !important;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(202, 60, 60) !important;
}
.submit-button {
    margin-left: 200px;
}