html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}
.pure-g > div {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
.padded {
    padding: 1% 3% !important;
}
.padded-right {
    padding-right: 8% !important;
}
body {
    background-color: #fdfdfd;
    color: #2e2e2e;
    font-size: 14px;
    line-height: 28px;
}
a {
    text-decoration: none;
    color: #0094D3;
}
a:hover {
    color: #000;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
.header-nav img, .header-nav a, .header-nav h1 {
    text-decoration: none;
    color: inherit;
    float: left;
    display: inline-block;
}
.header-nav img {
    width: 200px;
}
.header-nav {
    margin-bottom: 5%;
    background-color: #E6E6E6;
}
.header-nav h1 {
    font-weight: 300;
    margin-top: 10px;
    margin-left: 7px;
}
/*.search-bar, .new-feature, .header-nav h1, .h {
    margin: 20px 0;
}*/
.header-nav {
    padding-top: 20px;
}
.search-bar input[type='search'] {
    width: 80%;
}
table.feature-list {
    border-collapse: collapse !important;
    width: 50%;
}
.feature-list tr {
    border-bottom: 1px solid #ccc !important;
}
.feature-list td, th {
    padding: 2px 5px !important;
}
.feature-name {
    text-align: left;
}
.vote-count {
    text-align: right;
}
.comments {
    margin-top: 5%;
}
 .button-error {
    color: white !important;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(202, 60, 60) !important;
}
 .button-primary {
    color: white !important;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #3C90CC !important;
}
.submit-button {
    margin-left: 50%;
}

.search-results {
    font-weight: 300;
    font-style: italic;
}
.feature-body h1 {
    float: left;
}
.feature-body .edit-button {
    float: right;
    margin-top: 15px;
}
.edit-form textarea, input[type='text'] {
    width: 50%;
}