html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}
.pure-g > div {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
.padded {
    padding: 1% !important;
}
body {
    background-color: #fdfdfd;
    color: #2e2e2e;
    font-size: 14px;
    line-height: 28px;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
.header-text {
    text-decoration: none;
    color: inherit;
}
.feature-list td {
    padding: 2px 7px;
}
.customer-count {
    padding: 2px 7px;
    background-color: #3C97DA;
    color: #fff;
    border-radius: 5px;
}
 .button-error {
    color: white !important;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(202, 60, 60) !important;
}
.submit-button {
    margin-left: 200px;
}
a:after { clear: both;}